main = "./src/index.ts" # Don't modify this
compatibility_date = "2024-11-11" # Don't modify this either

name = "discord-message-formatter" # CF function name

[vars]
WEBHOOK_URL = "https://discord.com/api/webhooks/YOUR-WEBHOOK-HERE"
PASSWORD = "1234"
EMBED_COLOR = "1752220" # Uses a decimal color value
TURNSTILE_SITEKEY = "1x00000000000000000000AA"
TURNSTILE_SECRET = "1x0000000000000000000000000000000AA"